<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Pokemon liste</h1>
<table>
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            speed
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemons : ${pokemon}">
        <td th:text="${pokemons.id}">
            1
        </td>
        <td th:text="${pokemons.name}">
            MitProdukt
        </td>
        <td th:text="${pokemons.speed}">
            42
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>