<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update pokemon</title>
</head>
<body>

<h1>Update pokemon</h1>

<style>
    form
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>

<form method="post">

    <p>id: <span th:text="${pokemon.id}"></span></p>

    <label for="name">name: </label>
    <input id="name" name="name" type="text" th:value="${pokemon.name}">

    <label for="speed">speed: </label>
    <input id="speed" name="speed" type="number" th:value="${pokemon.speed}">

    <label for="special_defence"> special defence: </label>
    <input id="special_defence" name="special_defence" type="number" th:value="${pokemon.special_defence}">

    <label for="special_attack">special attack: </label>
    <input id="special_attack" name="special_attack" type="number" th:value="${pokemon.special_attack}">

    <label for="defence">defence: </label>
    <input id="defence" name="defence" type="number" th:value="${pokemon.defence}">

    <label for="attack">attack: </label>
    <input id="attack" name="attack" type="number" th:value="${pokemon.attack}">

    <label for="hp">hp: </label>
    <input id="hp" name="hp" type="number" th:value="${pokemon.hp}">

    <label for="primary_type">primary type: </label>
    <input id="primary_type" name="primary_type" type="text" th:value="${pokemon.primary_type}">

    <label for="secondary_type">secondary type: </label>
    <input id="secondary_type" name="secondary_type" type="text" th:value="${pokemon.secondary_type}">

    <button style="margin-top: 5px" type="submit">Submit</button>

</form>

</body>
</html>